[Desktop Entry]
Exec=/usr/sbin/lxdm
Type=Application
X-Pardus-XCursorTheme=Jimmac

Name=LXDM
GenericName=LXDM Login Manager
GenericName[tr]=LXDM Giriş Yöneticisi
