[Desktop Entry]
Encoding=UTF-8
Name=LibreOffice Spreadsheet File...
Name[tr]=LibreOffice Hesap Tablosu...
Comment=Enter spreadsheet filename:
Comment[tr]=Hesap tablo dosyasının adını girin:
Type=Link
URL=.source/oocalc.ods
Icon=libreoffice-calc
