[Desktop Entry]
Encoding=UTF-8
Name=LibreOffice Presentation File...
Name[tr]=LibreOffice Sunum Dosyası...
Comment=Enter presentation filename:
Comment[tr]=Sunum dosyasının adını girin:
Type=Link
URL=.source/ooimpress.odp
Icon=libreoffice-impress
