[Desktop Entry]
Encoding=UTF-8
Name=LibreOffice Writer File...
Name[tr]=LibreOffice Metin Dosyası...
Comment=Enter Writer filename:
Comment[tr]=Metin dosyasının adını girin:
Type=Link
URL=.source/oowriter.odt
Icon=libreoffice-writer
