[Desktop Entry]
Encoding=UTF-8
Name=Blobwars
Name[tr]=Blobwars

Type=Application
Exec=blobwars
Icon=blobwars.png
GenericName=Blobwars
X-DCOP-ServiceType=Multi
Categories=Game;ArcadeGame;
