[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=lobase
Exec=lobase %U
Icon=libreoffice-base.png
Type=Application
InitialPreference=15
Categories=Office;Database;X-KDE-More;
StartupNotify=true
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
Name=LibreOffice Base
Name[af]=LibreOffice Base
Name[ar]=أوبن أفيس.أورج بيز
Name[be@latin]=LibreOffice Base
Name[bg]=LibreOffice основа
Name[ca]=LibreOffice Base
Name[cs]=LibreOffice Base
Name[de]=LibreOffice Base
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི་གཞི་རྟེན།
Name[el]=LibreOffice Base
Name[en_CA]=LibreOffice Base
Name[en_GB]=LibreOffice Base
Name[es]=LibreOffice Base
Name[et]=LibreOffice Andmebaas (Base)
Name[eu]=LibreOffice Datu-basea
Name[fi]=LibreOffice-tietokanta
Name[fr]=Base de données OOo Base
Name[gl]=LibreOffice Base
Name[he]=LibreOffice Base
Name[hu]=LibreOffice Base
Name[it]=LibreOffice - Base
Name[ja]=LibreOfficeベース
Name[ko]=LibreOffice Base
Name[lt]=LibreOffice Base
Name[nb]=LibreOffice basis
Name[ne]=ओपनअफिस.अर्ग वेश
Name[nl]=LibreOffice Base
Name[oc]=LibreOffice Basa
Name[pl]=LibreOffice Base
Name[ps]=اوپنافس.ورګ بنسټ
Name[pt]=LibreOffice Base
Name[pt_BR]=LibreOffice Base
Name[sl]=LibreOffice Base
Name[sr]=LibreOffice База
Name[sr@Latn]=LibreOffice Baza
Name[sv]=LibreOffice Base
Name[vi]=Base của LibreOffice
Name[zh_CN]=LibreOffice Base
Name[zh_TW]=LibreOffice 資料庫
GenericName=Database
GenericName[af]=Databasis
GenericName[ar]=قاعدة بيانات
GenericName[be@latin]=Baza źviestak
GenericName[bg]=Бази от данни
GenericName[ca]=Base de dades
GenericName[cs]=Databáze
GenericName[de]=Datenbank
GenericName[dz]=གནད་སྡུད་གཞི་རྟེན།
GenericName[el]=Βάση δεδομένων
GenericName[en_CA]=Database
GenericName[en_GB]=Database
GenericName[en_ZA]=Database
GenericName[es]=Base de datos
GenericName[et]=Andmebaas
GenericName[eu]=Datu-basea
GenericName[fi]=Tietokanta
GenericName[fr]=Base de données
GenericName[gl]=Base de datos
GenericName[he]=בסיס נתונים
GenericName[hu]=Adatbázis
GenericName[it]=Database
GenericName[ko]=데이터베이스
GenericName[lt]=Duomenų bazės
GenericName[mk]=Бази за податоци
GenericName[nb]=Database
GenericName[ne]=डाटाबेस
GenericName[nl]=Database
GenericName[nr]=Ibulungelo lekhompyutha
GenericName[nso]=Datapeisi
GenericName[oc]=Basa de donadas
GenericName[pl]=Baza danych
GenericName[ps]=توکبنسټ
GenericName[pt]=Base de Dados
GenericName[pt_BR]=Banco de dados
GenericName[rw]=Ububikoshingiro
GenericName[sk]=Databáza
GenericName[sl]=Podatkovna zbirka
GenericName[sq]=Databazë
GenericName[sr]=База података
GenericName[sr@Latn]=Baza podataka
GenericName[st]=Datapeisi
GenericName[sv]=Databas
GenericName[ts]=Vuhlayisela-rungula
GenericName[tr]=Veritabanı
GenericName[vi]=Cơ sở dữ liệu
GenericName[wa]=Båze di dnêyes
GenericName[xh]=Isiseko seenkcukacha
GenericName[zh_CN]=数据库
GenericName[zu]=Idatabheyzi
Comment=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[af]=Bestuur databasisse, skep navrae en verslae om u inligting na te speur en te bestuur met Base.
Comment[ar]=أدِر قواعد البيانات، وأنشيء الاستعلامات والتقارير وتتبّع وإدارة معلومات باستخدام بيز.
Comment[be]=Кіруйце базамі дадзеных, стварайце звароты і справаздачы, каб зважаць на, і кіраваць інфармацыяй з дапамогаю Base.
Comment[be@latin]=Kiruj bazami źviestak, stvaraj zapyty j raparty, kab vieści j kiravać infarmacyjaj z dapamohaj Base.
Comment[bg]=С Base можете да управлявате бази от данни и да създавате заявки и справки, за да следите и управлявате Вашата информация.
Comment[bs]=Upravljanje bazama podataka, kreiranje upita i izvještaja radi praćenja i upravljanja vašim informacijama koristeći Base.
Comment[ca]=Gestioneu bases de dades, creeu consultes, informes per a seguir i gestionar la vostra informació amb el Base.
Comment[cs]=Spravujte databáze, vytvářejte dotazy a sestavy pro sledování a řízení vašich informací pomocí Base.
Comment[cy]=Rheoli cronfeydd data, creu ymholiadau ac adroddiadau i ddilyn a rheoli eich gwybodaeth drwy ddefnyddio Base.
Comment[da]=Administrer databaser, opret forespørgsler og rapporter til at spore og administrere dine informationer ved at bruge Base.
Comment[de]=Verwalten von Datenbanken, Erstellen von Abfragen und Berichten - Base machts möglich.
Comment[dz]=གནད་སྡུད་གཞི་རྟེན་ཚུ་འཛིནསྐྱོང་འབད་ དྲི་བ་ཚུ་གསར་བསྐྲུན་འབད་ནི་དང་རྗེས་འཚོལ་ལུ་སྙན་ཞུ་ཚུ་དང་ཁྱོད་རའི་བརྡ་དོན་གཞི་རིམ་ལག་ལེན་འཐབ་དེ་གིས་འཛིན་སྐྱོང་འབད།
Comment[el]=Διαχείριση βάσης δεδομένων, δημιουργία ερωτημάτων και αναφορών για την παρακολούθηση και διαχείριση πληροφοριών.
Comment[en_CA]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[en_GB]=Manage databases, create queries, reports, track and manage your information using Base.
Comment[en_ZA]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[es]=Administrar bases de datos, crear consultas e informes para controlar y editar información con Base.
Comment[et]=Base võimaldab kasutada andmebaase ja luua andmete jälgimiseks ning haldamiseks päringuid ja aruandeid.
Comment[eu]=Kudeatu datu-baseak, sortu kontsultak eta txostenak zure informazioa kudeatzeko Datu-basea (Base) erabiliz.
Comment[fi]=Hallitse tietokantoja sekä tee hakuja ja raportteja seurataksesi ja käsitelläksesi tietoja.
Comment[fr]=Gérer des bases de données, créer des requêtes et des rapports pour suivre et gérer vos informations en utilisant Base.
Comment[gl]=Xestionar bases de datos, crear consultas e informes para controlar e editar información con Base.
Comment[gu]=ડેટાબેઝોની વ્યવસ્થા કરો, પ્રશ્નો બનાવો અને તમારી જાણકારી આધારની મદદથી ટ્રેક કરવા અને તેની વ્યવસ્થા કરવા માટેના અહેવાલો.
Comment[he]=נהל בסיסי נתונים, צור שאילתות ודו"חות על מנת לעקוב ולנהל את המידע של בעזרת Base.
Comment[hi]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[hr]=Upravljanje bazama podataka, kreiranje upita i izvještaja za praćenje i upravljanje informacija koristeći Base.
Comment[hu]=Adatbázisok kezelése, lekérdezések és jelentések készítése a Base használatával.
Comment[it]=Gestisce database, crea interrogazioni e rapporti per tracciare e gestire le proprie informazioni usando Base.
Comment[ja]=Base を使用することで、データベースを管理し、クエリーとレポートを作成して、情報を追跡および管理します。
Comment[km]=គ្រប់គ្រង​មូលដ្ឋាន​ទិន្នន័យ បង្កើត​សំណួរ និង រាយការណ៍​ ដើម្បី​តាមដាន និង គ្រប់គ្រង​ព័ត៌មាន​របស់​អ្នក​ដោយ​ប្រើ Base ។
Comment[ko]=Base를 사용하여 데이터베이스를 관리하고, 추적할 쿼리와 보고서를 만들며, 정보를 관리합니다.
Comment[lt]=Duomenų bazių programa galima tvarkyti duomenų bazes, rašyti užklausas ir ataskaitas.
Comment[lv]=Menedžējiet datubāzes, veidojiet vaicājumus un atskaites lai izsekot un vadītu informāciju lietojot Base.
Comment[mk]=Уредувајте бази на податоци, креирајте барања и извештаи за следење и управување на вашите информации со користење на Base.
Comment[nb]=Håndter databaser, lag spørringer og rapporter og håndter informasjon ved hjelp av Base.
Comment[ne]=डाटावेस प्रबन्ध गर्नुहोस्, क्वेरिहरू सिर्जना गर्नुहोस् र ट्रयाकलाई प्रतिवेदन गर्नुहोस् र वेसको प्रयोग गर्दै तपाईँको सूचना व्यवस्थापन गर्नुहोस्।
Comment[nl]=Met Base kunt u databases beheren, query's en rapporten maken om uw gegevens te controleren en beheren.
Comment[nn]=Med Base kan du handtera databasar, laga spørjingar og rapportar for sporing og handtering av informasjon.
Comment[nr]=Phatha amabulungelo wekhompyutha, enza imibuzo nemibiko nokulandela nokuphatha ilwazi lakho ngokusebenzisa iBulungelo lekhompyutha.
Comment[nso]=Laola didatapeisi, hlama dingongorego le dipego gore o latedišiše le go laola tshedimošo ya gago ka go diriša Base.
Comment[pa]=ਬੇਸ ਨਾਲ ਆਪਣਾ ਡਾਟਾਬੇਸ ਸੰਭਾਲੋ, ਸਵਾਲ ਬਣਾਓ ਅਤੇ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਨੂੰ ਜਾਂਚਿਆ ਅਤੇ ਪ੍ਰਬੰਧ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Zarządzanie bazami danych, tworzenie zapytań i raportów, aby efektywnie zarządzać informacją za pomocą programu Base.
Comment[pt]=Faça a gestão de bases de dados, crie consultas e relatórios para analisar a sua informação utilizando o Base.
Comment[pt_BR]=Gerencie bancos de dados, crie consultas e relatórios para rastrear e gerenciar suas informações por meio do Base.
Comment[ru]=Управление базами данных, создание запросов и отчетов для слежения и управления вашей информацией при помощи Base.  
Comment[rw]=Kuyobora ububikoshingiro, kurema ibibazo na raporo kugira ngo ugenzure kandi uyobore ibyatanzwe byawe ukoresheje Base.
Comment[sk]=Spravujte databázy, vytvárajte dotazy a správy pre správu a analýzu vašich informácií s použitím Base.
Comment[sl]=Z Base upravljajte s podatkovnimi zbirkami, ustvarjajte povpraševanja in poročila za sledenje in upravljanje s podatki.
Comment[sr]=Управља базама података, прави упите и извештаје за праћење Ваших података корићењем Базе.
Comment[sr@Latn]=Upravlja bazama podataka, pravi upite i izveštaje za praćenje Vaših podataka korićenjem Baze.
Comment[st]=Laola didatapeisi, bopa ditletlebo le ditlaleho bakeng sa ho latedisisa le ho laola tlhahisoleseding ya hao ka ho sebedisa Base.
Comment[sv]=Hantera databaser, skapa sökningar och rapporter för att spåra och hantera information med hjälp av Base.
Comment[sw]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[th]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[tr]=Base kullanarak veritabanlarınızı yönetin, sorgular ve raporlar oluşturarak bilgilerinizi takip edin.
Comment[ts]=Tirhisa swihlayisela-rungula, endla mindzavisiso ni swiviko leswaku u landzelerisisa rungula ra wena hi ku tirhisa Base.
Comment[vi]=Quản lý cơ sở dữ liệu, tạo truy vấn và báo cáo để theo dõi và quản lý thông tin của bạn bằng Base.
Comment[xh]=Lawula iziseko zeenkcukacha, dala iintandabuzo neengxelo ukuze ulande ekhondweni ngokunjalo ulawule ulwazi lwakho ngokusebenzisa u-Base.
Comment[zh_CN]=使用 Base 管理数据库并创建查询和报表，以对信息进行跟踪和管理。
Comment[zh_TW]=使用 Base 來管理資料庫、建立查詢與報告，以追蹤及管理您的資訊。
Comment[zu]=Lawula idatabheyzi, yenza amakhwiri nemibiko ukuze uthole futhi ulawule ukwaziswa kwakho ngokusebenzisa iBheysi.

