[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=lodraw
Exec=lodraw %U
Icon=libreoffice-draw.png
Type=Application
Categories=Office;
StartupNotify=true
InitialPreference=15
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.stardivision.draw;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;
Name=LibreOffice Draw
Name[af]=LibreOffice Draw
Name[ar]=أوبن أفيس.أورج درو
Name[be@latin]=LibreOffice Draw
Name[bg]=LibreOffice рисуване
Name[ca]=LibreOffice Draw
Name[cs]=LibreOffice Draw
Name[de]=LibreOffice Draw
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི་འབྲི་ནི།
Name[el]=LibreOffice Draw
Name[en_CA]=LibreOffice Draw
Name[en_GB]=LibreOffice Draw
Name[es]=LibreOffice Draw
Name[et]=LibreOffice Joonistamine
Name[eu]=LibreOffice Marrazkia
Name[fi]=LibreOffice-piirros
Name[fr]=Dessin OOo Draw
Name[gl]=LibreOffice Draw
Name[he]=LibreOffice Draw
Name[hu]=LibreOffice Draw
Name[it]=LibreOffice - Draw
Name[ja]=LibreOffice描画
Name[ko]=LibreOffice Draw
Name[lt]=LibreOffice Draw
Name[nb]=LibreOffice Draw
Name[ne]=ओपनअफिस.ओर्ग ड्र
Name[nl]=LibreOffice Draw
Name[oc]=LibreOffice Dessenh
Name[pl]=LibreOffice Draw
Name[ps]=اوپنافس.ورګ انځورګر
Name[pt]=LibreOffice Draw
Name[pt_BR]=LibreOffice Draw
Name[sl]=LibreOffice Draw
Name[sr]=LibreOffice Цртање
Name[sr@Latn]=LibreOffice Crtanje
Name[sv]=LibreOffice Draw
Name[vi]=Draw của LibreOffice
Name[zh_CN]=LibreOffice Draw
GenericName=Drawing
GenericName[af]=Teken
GenericName[ar]=الرسم
GenericName[az]=Rəsm
GenericName[be@latin]=Rysavańnie
GenericName[bg]=Рисунка
GenericName[bs]=Crtanje
GenericName[ca]=Dibuix
GenericName[cs]=Kreslení
GenericName[da]=Tegneprogram
GenericName[de]=Zeichnung
GenericName[dz]=པར་རིས།
GenericName[el]=Σχεδιασμός
GenericName[en_CA]=Drawing
GenericName[en_GB]=Drawing
GenericName[en_ZA]=Drawing
GenericName[es]=Dibujo
GenericName[et]=Joonistus
GenericName[eu]=Marrazketa
GenericName[fi]=Piirros
GenericName[fr]=Dessin
GenericName[ga]=Tarraingt
GenericName[gl]=Debuxo
GenericName[gu]=ચિત્ર
GenericName[he]=ציור
GenericName[hr]=Crtanje
GenericName[hu]=Rajzoló
GenericName[it]=Disegno
GenericName[ja]=ドロー
GenericName[ka]=სახატავი
GenericName[ko]=그리기
GenericName[lt]=Piešimas
GenericName[mk]=Цртање
GenericName[ms]=Lukisan
GenericName[nb]=Tegning
GenericName[ne]=रेखाचित्र
GenericName[nl]=Ontwerpen
GenericName[nr]=Umgwalo
GenericName[nso]=Go Thala
GenericName[oc]=Dessenh
GenericName[pa]=ਡਰਾਇੰਗ
GenericName[pl]=Rysowanie
GenericName[ps]=انځورګري
GenericName[pt]=Desenhar
GenericName[pt_BR]=Desenho
GenericName[rw]=Igishushanyo
GenericName[sk]=Kreslenie
GenericName[sl]=Risanje
GenericName[sq]=Vizatim
GenericName[sr]=Цртање
GenericName[sr@Latn]=Crtanje
GenericName[st]=Ho torowa
GenericName[sv]=Teckning
GenericName[th]=วาดเขียน
GenericName[tr]=Çizim
GenericName[ts]=Vudirowi
GenericName[uk]=Малювання
GenericName[vi]=Vẽ
GenericName[wa]=Dessinaedje
GenericName[xh]=Umzobo
GenericName[zh_CN]=绘图
GenericName[zh_TW]=繪圖
GenericName[zu]=Ukudweba
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Comment[af]=Skep en redigeer tekeninge, vloeidiagramme en embleme met Draw.
Comment[ar]=أنشيء وحرِّر الرسوم، ورسوم الدفْق البيانيّة، والشعارات باستخدام درو.
Comment[be]=Стварайце і рэдагуйце рысункі, схемы і лагатыпы з дапамогаю Draw-а.
Comment[be@latin]=Stvaraj i redahuj rysunki, schiemy j lahatypy z dapamohaj Draw.
Comment[bg]=С Draw можете да създавате и редактирате рисунки, блок-схеми и емблеми.
Comment[bs]=Kreiranje i uređivanje crteža, dijagrama toka i amblema koristeći Draw.
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips amb el Draw.
Comment[cs]=Vytvářejte a upravujte kresby, bloková schémata a loga pomocí Draw.
Comment[cy]=Creu a golygu darluniau, siartiau llif a logos drwy ddefnyddio Draw.
Comment[da]=Opret og rediger tegninger, rutediagrammer og logoer ved brug af Draw.
Comment[de]=Zeichnungen erstellen und bearbeiten, Flussdiagramme entwerfen und Logos kreieren - Draw machts möglich.
Comment[dz]=པར་རིས་ཚུ་ འབབ་རྒྱུན་དཔེ་རིས་ཚུ་དང་ལས་རྟགས་ཚུ་འབྲི་ནི་ལག་ལེན་འཐབ་དེ་གིས་གསར་་བསྐྲུན་དང་ཞུན་དག་འབད།
Comment[el]=Δημιουργία και επεξεργασία σχεδίων, διαγραμμάτων ροής, και λογοτύπων με τη χρήση του Draw.
Comment[en_CA]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[en_GB]=Create and edit drawings, flow charts, and logos using Draw.
Comment[en_ZA]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[es]=Cree y edite dibujos, gráficos de flujo y logotipos con Draw.
Comment[et]=Draw võimaldab luua ja redigeerida joonistusi, vooskeeme ning logosid.
Comment[eu]=Sortu eta editatu marrazkiak, diagramak eta logotipoak Marrazkia (Draw) erabiliz.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja.
Comment[fr]=Créer et éditer des dessins, des organigrammes et des logos en utilisant Draw.
Comment[gl]=Cree e edite debuxos, gráficos de fluxo e logotipos con Draw.
Comment[gu]=ચિત્રો, ફ્લો ચાર્ટો, અને લોગોમાં ચિત્રકામની મદદથી ચિત્રો બનાવો અને તેમાં ફેરફાર કરો.
Comment[he]=צור וערוך ציורים, תרשימי זרימה וסמלילים בעזרת Draw.
Comment[hi]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[hr]=Stvorite i uredite crteže, dijagrame toka i logo-e koristeći Draw.
Comment[hu]=Rajzok, folyamatábrák és logók létrehozása és szerkesztése a Draw használatával.
Comment[it]=Crea e modifica disegni, diagrammi di flusso e loghi usando Draw.
Comment[ja]=Draw を使用して、図形描画、フローチャート、およびロゴを作成および編集します。
Comment[km]=បង្កើត និង កែ​សម្រួល​គំនូរ គំនូស​តាង​លំហូរ និង រូបសញ្ញា​ដោយ​ប្រើ Draw ។
Comment[ko]=Draw를 사용하여 그리기, 순서도 및 로고를 만들고 편집합니다.
Comment[lt]=Grafikos rengykle galima braižyti brėžinius, blokines schemas, kurti logotipus.
Comment[lv]=Veidot un labot zīmējumus, blokshēmas, un logo lietojot Draw.
Comment[mk]=Креирајте и уредувајте цртежи, графикони и логоа со користење на Draw.
Comment[nb]=Opprett og rediger tegninger, flytdiagrammer og logoer ved å bruke Draw.
Comment[ne]=ड्र प्रयोग गर्दै लगहरू, कुराकानीको प्रवाह, र रेखाचित्रहरू सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्।
Comment[nl]=Met Draw kunt u tekeningen, stroomdiagrammen en logo's maken en bewerken.
Comment[nn]=Med Draw kan du laga og redigera teikningar, flytdiagram og logoar.
Comment[nr]=Enza nokuhlela imigwalo, amaflowtjhati namalogo ngokusebenzisa i-Draw.
Comment[nso]=Hlama le go rulaganya dithalwa, ditšhate tša go elela, le maswao ka go diriša Draw.
Comment[pa]=ਚਿੱਤਰਕਾਰ ਨਾਲ ਸ਼ਕਲਾਂ, ਵਹਾ-ਚਾਰਟ ਅਤੇ ਲੋਗੋ ਬਣਾਏ ਅਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[pl]=Tworzenie i modyfikowanie rysunków, schematów blokowych i znaków graficznych za pomocą programu Draw.
Comment[pt]=Crie e edite desenhos, diagramas de fluxo e logotipos utilizando o Draw.
Comment[pt_BR]=Crie e dite desenhos, fluxogramas e logotipos por meio do Draw.
Comment[ru]=Создание и редактирование рисунков, блок-схем и логотипов.
Comment[rw]=Kurema no guhindura ibishushanyo, ibishushanyo by'ikurikirana, n'ikirango ukoresheje Draw
Comment[sk]=Vytvárajte a upravujte obrázky, postupové diagramy a logá s použitím Draw.
Comment[sl]=Z Drawom ustvarjajte in urejajte slike, diagrame in logotipe.
Comment[sr]=Прави и уређује цртеже, дијаграме тока, и логотипе коришћењем Draw-а.
Comment[sr@Latn]=Pravi i uređuje crteže, dijagrame toka, i logotipe korišćenjem Draw-a.
Comment[st]=Bopa le ho lokisa tse torowilweng, ditjhate tse phallang, le di-logo ka ho sebedisa Draw.
Comment[sv]=Skapa och redigera teckningar, flödesdiagram och logotyper med hjälp av Draw.
Comment[sw]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[th]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[tr]=Draw kullanarak akış çizelgeleri ve logolar oluşturun, düzenleyin.
Comment[ts]=Endla ni ku lulamisa Vudirowi, tichati ta ntlhandlamano ni mimfungho hi ku tirhisa Draw.
Comment[vi]=Tạo và chỉnh bản vẽ, lược đồ, và biểu hình dùng Draw.
Comment[xh]=Dala uze uhlele imizobo, iitshati zomqukuqelo, kunye nee-logo ngokusebenza u-Draw.
Comment[zh_CN]=使用 Draw 创建并编辑图形、流程图和徽标。
Comment[zh_TW]=使用 Draw 可建立與編輯繪圖、流程圖以及標誌。
Comment[zu]=Yenza futhi ulungise imidwebo, amaflowchadi, namalogo ngokusebenzisa into yokuDweba.
