[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
NoDisplay=true
TryExec=lomath
Exec=lomath %U
Icon=libreoffice-math.png
Type=Application
Categories=Office;Math;
StartupNotify=true
InitialPreference=15
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.oasis.opendocument.formula-template;application/vnd.stardivision.math;application/vnd.sun.xml.math;text/mathml;
Name=LibreOffice Math
Name[af]=LibreOffice Math
Name[ar]=أوبن أفيس.أورج ماث
Name[be@latin]=LibreOffice Math
Name[ca]=LibreOffice Math
Name[cs]=LibreOffice Math
Name[de]=LibreOffice Math
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི་ཨང་རྩིས།
Name[el]=LibreOffice Math
Name[en_CA]=LibreOffice Math
Name[en_GB]=LibreOffice Math
Name[es]=LibreOffice Math
Name[et]=LibreOffice Matemaatika (Math)
Name[eu]=LibreOffice Formula
Name[fi]=LibreOffice-kaavaeditori
Name[fr]=Éditeur d'équations OOo Math
Name[gl]=LibreOffice Math
Name[he]=LibreOffice Math
Name[hu]=LibreOffice Math
Name[it]=LibreOffice - Math
Name[ko]=LibreOffice Math
Name[lt]=LibreOffice Math
Name[nb]=LibreOffice Math
Name[ne]=ओपनअफिस.अर्ग म्याथ
Name[nl]=LibreOffice Math
Name[oc]=LibreOffice Mat
Name[pl]=LibreOffice Math
Name[ps]=اوپنافس.ورګ رياضي
Name[pt]=LibreOffice Math
Name[pt_BR]=LibreOffice Math
Name[sl]=LibreOffice Math
Name[sr]=LibreOffice Математика
Name[sr@Latn]=LibreOffice Matematika
Name[sv]=LibreOffice Math
Name[vi]=Math của LibreOffice
Name[zh_CN]=LibreOffice Math
GenericName=Formula
GenericName[af]=Formule
GenericName[ar]=معادلات
GenericName[be@latin]=Formuła
GenericName[bg]=Формула
GenericName[ca]=Fórmula
GenericName[cs]=Vzorec
GenericName[de]=Formel
GenericName[dz]=མན་ངག
GenericName[el]=Μαθηματικός τύπος
GenericName[en_CA]=Formula
GenericName[en_GB]=Formula
GenericName[en_ZA]=Formula
GenericName[es]=Fórmula
GenericName[et]=Valem
GenericName[eu]=Formula
GenericName[fi]=Kaava
GenericName[fr]=Formule
GenericName[gl]=Fórmula
GenericName[he]=נוסחה
GenericName[hu]=Képlet
GenericName[it]=Formula
GenericName[ko]=공식
GenericName[lt]=Formulės
GenericName[mk]=Формула
GenericName[nb]=Formel
GenericName[ne]=सूत्र
GenericName[nl]=Formule
GenericName[nr]=Fomula
GenericName[nso]=Fomula
GenericName[oc]=Formula
GenericName[pl]=Wzory
GenericName[ps]=فارموله
GenericName[pt]=Fórmula
GenericName[pt_BR]=Fórmula
GenericName[rw]=Inzira
GenericName[sk]=Vzorec
GenericName[sl]=Enačbe
GenericName[sq]=Formulë
GenericName[sr]=Формула
GenericName[sr@Latn]=Formula
GenericName[st]=Fomula
GenericName[sv]=Formel
GenericName[ts]=Fomula
GenericName[tr]=Formül
GenericName[vi]=Công thức
GenericName[wa]=Formules
GenericName[xh]=Indlela yokusebenza
GenericName[zh_CN]=公式
GenericName[zu]=Ifomula
Comment=Create and edit scientific formulas and equations by using Math.
Comment[af]=Skep en redigeer wetenskaplike formules en vergelykings met Math.
Comment[ar]=أنشيء وحرِّر الصيغ العلميّة والمُعادلات باستخدام ماث.
Comment[be]=Стварайце і рэдагуйце навуковыя формулы і ўраўненні з дапамогаю Math-а.
Comment[be@latin]=Stvaraj i redahuj navukovyja formuły i raŭnańni z dapamohaj Math.
Comment[bg]=С Math можете да създавате и редактирате математически формули и уравнения.
Comment[bs]=Kreiranje i uređivanje naučnih formula i jednačina koristeći Math.
Comment[ca]=Creeu i editeu fórmules científiques i equacions amb el Math.
Comment[cs]=Vytvářejte a upravujte vědecké výpočty a vzorce pomocí Math.
Comment[cy]=Creu a golygu fformiwlâu gwyddonol a hafaliadau gan ddefnyddio Math
Comment[da]=Opret og rediger videnskabelige formler ved brug af Math.
Comment[de]=Wissenschaftliche Formeln erstellen und bearbeiten - Math machts möglich.
Comment[dz]=ཚན་རིག་གི་མན་ངག་ཚུ་དང་སྙོམས་རྟགས་ཚུ་ཨང་རྩིས་ལག་ལེན་འཐབ་དེ་གིས་གསར་བསྐྲུན་དང་ཞུན་དག་འབད།
Comment[el]=Δημιουργία και επεξεργασία επιστημονικών τύπων με τη χρήση του Math.
Comment[en_CA]=Create and edit scientific formulas and equations by using Math.
Comment[en_GB]=Create and edit scientific formulae and equations using Maths.
Comment[en_ZA]=Create and edit scientific formulae and equations by using Math.
Comment[es]=Cree y edite fórmulas científicas y ecuaciones con Math.
Comment[et]=Math võimaldab luua ja redigeerida teaduslikke valemeid ning võrrandeid.
Comment[eu]=Sortu eta editatu formula matematikoak eta ekuazioak Formula (Math) erabiliz.
Comment[fi]=Luo ja muokkaa tieteellisiä kaavoja ja yhtälöitä.
Comment[fr]=Créer et éditer des formules scientifiques et des équations en utilisant Math.
Comment[gl]=Cree e edite fórmulas científicas e ecuacións con Math.
Comment[gu]=ગણિતની મદદથી વૈજ્ઞાનિક સૂત્રો અને સમીકરણો બનાવો અને તેમાં ફેરફાર કરો.
Comment[he]=צור וערוך נוסחאות מדעיות ומשוואות בעזרת Math.
Comment[hi]=Create and edit scientific formulas and equations by using Math.
Comment[hr]=Stvorite i uredite znanstvene formule i jednadžbe koristeći Math.
Comment[hu]=Képletek és egyenletek létrehozása és szerkesztése a Math használatával.
Comment[it]=Crea e modifica formule scentifiche ed equazioni usando Math.
Comment[ja]=Math を使用して、科学の公式や方程式を作成し、編集します。
Comment[km]=បង្កើត និង កែ​សម្រួល​រូបមន្ត​វិទ្យាសាស្ត្រ និង សមីការ​ដោយ​ប្រើ Math ។
Comment[ko]=Math를 사용하여 수식 및 공학용 수식을 만들고 편집합니다.
Comment[lt]=Matematinė rengyklė skirta formulėms ir lygtims rašyti.
Comment[lv]=Veidot un rediģēt zinātniskās formulas un izteiksmes lietojot Math.
Comment[mk]=Креирајте и уредувајте научни формули и равенки користејќи Math.
Comment[nb]=Opprett og rediger vitenskapelige formler og ligninger ved bruk av Math.
Comment[ne]=म्याथ प्रयोग गर्दै समिकरणहरू र वैज्ञानिक सूत्रहरू सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्।
Comment[nl]=Met Math kunt u wiskundige formules en vergelijkingen maken en bewerken.
Comment[nn]=Med Math kan du laga og redigera vitskaplege formlar og likningar.
Comment[nr]=Enza nokuhlela amafomula namakhotheyitjhini ngokusebenzisa i-Math.
Comment[nso]=Hlama le go rulaganya difomula tša saense le diekhoišene ka go diriša Math.
Comment[pa]=ਗਣਿਤ ਨਾਲ ਵਿਗਿਆਨਕ ਫਾਰਮੂਲੇ ਅਤੇ ਸਮੀਕਰਨ ਬਣਾਓ।
Comment[pl]=Tworzenie i modyfikowanie wzorów matematycznych i naukowych za pomocą programu Math.
Comment[pt]=Crie e edite fórmulas científicas e equações utilizando o Math.
Comment[pt_BR]=Crie e edite fórmulas científicas e equações por meio do Math.
Comment[ru]=Создание и редактирование научных формул и уравнений.
Comment[rw]=Kurema no guhindura inzira n'inganyagaciro bya gihanga ukoresheje Math.
Comment[sk]=Vytvárajte a upravujte vedecké vzorce a výrazy s použitím Math.
Comment[sl]=Z Mathom ustvarjajte in urejajte znanstvene formule in enačbe.
Comment[sr]=Прави и уређује научне формуле и једначине коришћењем Матеметике.
Comment[sr@Latn]=Pravi i uređuje naučne formule i jednačine korišćenjem Matemetike.
Comment[st]=Bopa le ho lokisa difomula tsa saense le diekweishene ka ho sebedisa Math.
Comment[sv]=Skapa och redigera vetenskapliga formler och ekvationer med hjälp av Math.
Comment[sw]=Create and edit scientific formulas and equations by using Math.
Comment[th]=Create and edit scientific formulas and equations by using Math.
Comment[tr]=Math kullanarak bilimsel formüller ve eşitlikler oluşturun, düzenleyin.
Comment[ts]=Endla ni ku lulamisa Tifomula ta vutshila bya sayense ni tinhlayo hi ku tirhisa Math.
Comment[vi]=Tạo và chỉnh sửa công thức khoa học và phương trình dùng Math.
Comment[xh]=Dala uze uhlele iindlela zokusebenzisa inzululwazi nongqinelaniso ngokusebenzisa u-Math.
Comment[zh_CN]=使用 Math 创建并编辑科学公式和方程式。
Comment[zh_TW]=使用 Math 可建立與編輯科學公式與方程式。
Comment[zu]=Yenza futhi ulungise amafomula ezesayensi nama-ikhuweyjini ngokusebenzisa into yeziBalo.
