[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=unopkg
Exec=unopkg gui %U
Icon=libreoffice-main.png
Type=Application
StartupNotify=true
Categories=Office;X-KDE-More;
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOffice Extension Manager
Name[tr]=LibreOffice Eklenti Yöneticisi
GenericName=Extension Manager
GenericName[tr]=Eklenti Yöneticisi
Comment=Add and organize the LibreOffice extensions.
Comment[tr]=LibreOffice eklentileri ekleyin ve yönetin.
