[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=loimpress
Exec=loimpress %U
Icon=libreoffice-impress.png
Type=Application
Categories=Office;Presentation;
StartupNotify=true
MimeType=application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.stardivision.impress;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.ms-powerpoint.presentation.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;
InitialPreference=15
Name=LibreOffice Impress
Name[af]=LibreOffice Impress
Name[ar]=أوبن أفيس.أورج إمبرِس
Name[be@latin]=LibreOffice Impress
Name[bg]=LibreOffice представяния
Name[ca]=LibreOffice Impress
Name[cs]=LibreOffice Impress
Name[de]=LibreOffice Impress
Name[dz]=ཨོ་པཱན་ཨོཕིསི.ཨོ་ཨར་ཇི་ ཨིམ་པེརིསི།
Name[el]=LibreOffice Impress
Name[en_CA]=LibreOffice Impress
Name[en_GB]=LibreOffice Impress
Name[es]=LibreOffice Impress
Name[et]=LibreOffice Esitlus (Impress)
Name[eu]=LibreOffice Aurkezpena
Name[fi]=LibreOffice-esitysgrafiikka
Name[fr]=Présentation OOo Impress
Name[gl]=LibreOffice Impress
Name[he]=LibreOffice Impress
Name[hu]=LibreOffice Impress
Name[it]=LibreOffice - Impress
Name[ja]=オープンOffice.org Impress
Name[ko]=LibreOffice Impress
Name[lt]=LibreOffice Impress
Name[nb]=LibreOffice Impress
Name[ne]=ओपनअफिस डट अर्ग इम्प्रेस
Name[nl]=LibreOffice Impress
Name[pl]=LibreOffice Impress
Name[pt]=LibreOffice Impress
Name[pt_BR]=LibreOffice Impress
Name[sl]=LibreOffice Impress
Name[sr]=LibreOffice Презентација
Name[sr@Latn]=LibreOffice Prezentacija
Name[sv]=LibreOffice Impress
Name[vi]=Impress của LibreOffice
Name[zh_CN]=LibreOffice Impress
GenericName=Presentation
GenericName[af]=Voorlegging
GenericName[ar]=عرض تقديمي
GenericName[az]=Təqdimat
GenericName[be@latin]=Prezentacyja
GenericName[bg]=Презентация
GenericName[bs]=Prezentacija
GenericName[ca]=Presentació
GenericName[cs]=Prezentace
GenericName[da]=Præsentation
GenericName[de]=Präsentation
GenericName[dz]=གསལ་སྟོན།
GenericName[el]=Παρουσίαση
GenericName[en_CA]=Presentation
GenericName[en_GB]=Presentation
GenericName[en_ZA]=Presentation
GenericName[es]=Presentación
GenericName[et]=Esitlus
GenericName[eu]=Aurkezpena
GenericName[fi]=Esitys
GenericName[fr]=Présentation
GenericName[ga]=Toirbeathas
GenericName[gl]=Presentación
GenericName[gu]=રજૂઆત
GenericName[he]=מצגת
GenericName[hr]=Prezentacija
GenericName[hu]=Bemutatókészítő
GenericName[is]=Impress framsetning
GenericName[it]=Presentazione
GenericName[ja]=プレゼンテーション
GenericName[ka]=პრეზენტაცია
GenericName[ko]=프리젠테이션
GenericName[lt]=Pristatymai
GenericName[mk]=Презентација
GenericName[ms]=Persembahan
GenericName[nb]=Presentasjon
GenericName[ne]=प्रस्तुति
GenericName[nl]=Presentatie
GenericName[nr]=Phrizentheyitjhini
GenericName[nso]=Tlhagišo
GenericName[oc]=Presentacion
GenericName[pa]=ਪੇਸ਼ਕਾਰੀ
GenericName[pl]=Prezentacja
GenericName[ps]=وړاندېينه
GenericName[pt]=Apresentação
GenericName[pt_BR]=Apresentação
GenericName[rw]=Iyerekana
GenericName[sk]=Prezentácia
GenericName[sl]=Predstavitev
GenericName[sq]=Prezantime
GenericName[sr]=Презентација
GenericName[sr@Latn]=Prezentacija
GenericName[st]=Nehelano
GenericName[sv]=Presentation
GenericName[th]=งานนำเสนอ
GenericName[tr]=Sunum
GenericName[ts]=Nkombiso
GenericName[uk]=Презентації
GenericName[vi]=Trình diễn
GenericName[wa]=Prezintåcion
GenericName[xh]=Umboniso wenkcazelo
GenericName[zh_CN]=演示文稿
GenericName[zh_TW]=簡報
GenericName[zu]=Iprezenteyshin
Comment=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[af]=Skep en redigeer voorleggings vir skyfievertonings, vergaderings en webbladsye met Impress.
Comment[ar]=حرِّر وأنشيء العروض التقديميّة لعروض الشرائح، والاجتماعات وصفحات الوب باستخدام إمبرِس.
Comment[be]=Стварайце і рэдагуйце прэзентацыі для слайдавых паказаў, сустрэч і старонак Сеціва з дапамогаю Impress-а.
Comment[be@latin]=Stvaraj i redahuj prezentacyi dla pakazaŭ słajdaŭ, naradaŭ i staronak sieciva z dapamohaj Impress.
Comment[bg]=С Impress можете да създавате и редактирате презентации за прожекции, събрания и уебстраници.
Comment[bs]=Kreiranje i uređivanje prezentacija za prikaze, sastanke i Web stranice koristeći Impress.
Comment[ca]=Creeu i editeu presentacions per a diapositives, conferències i pàgines web amb l'Impress.
Comment[cs]=Vytvářejte a upravujte prezentace pro ukázky, porady a webové stránky pomocí Impressu.
Comment[cy]=Creu a golygu cyflwyniadau ar gyfer sioeau tryloywderau, cyfarfodydd a thudalennau Gwe gan ddefnyddio Impress.
Comment[da]=Opret og rediger præsentationer til oplæg, møder og websider ved brug af Impress.
Comment[de]=Erstellen und Bearbeiten von Präsentationen für Dia-Vorführungen, Meetings und Web-Auftritte - Impress machts möglich.
Comment[dz]=བཤུད་བརྙན་ཚུ་གི་དོན་ལུ་གསལ་སྟོན་ཚུ་ཞུན་དག་འབད་ནི་དང་གསར་བསྐྲུན་འབད་ནི་ ཨིམ་པེརིསི་ལག་ལེན་འཐབ་དེ་གིས་ཝེབ་ཤོག་ལེབ་ཚུ་དང་འཛོམས་འདུ་འབད།
Comment[el]=Δημιουργία και επεξεργασία παρουσιάσεων για διαφάνειες, συναντήσεις και ιστοσελίδες με τη χρήση του Impress.
Comment[en_CA]=Create and edit presentations for slideshows, meetings and Web pages by using Impress.
Comment[en_GB]=Create and edit presentations for slideshows, meeting and Web pages using Impress.
Comment[en_ZA]=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[es]=Crear y editar presentaciones para charlas o reuniones y páginas Web con Impress.
Comment[et]=Impress võimaldab luua ja redigeerida esitlusi slaidiseansside, koosolekute ning veebilehtede jaoks.
Comment[eu]=Sortu eta editatu aurkezpen gidak, bilerak edota web orrialdeak Aurkezpena (Impress) erabiliz.
Comment[fi]=Luo ja muokkaa esityksiä esitelmiin, tapaamiisiin ja WWW-sivuille.
Comment[fr]=Créer et éditer des présentations pour des diaporamas, des réunions ou des pages Web en utilisant Impress.
Comment[gl]=Crear e editar presentacións para charlas ou xuntanzas e páxinas Web con Impress.
Comment[gu]=સ્લાઈડશો, મંત્રણા અને વેબ પાનાંઓ માટે ઈમ્પ્રેસની મદદથી રજૂઆતો બનાવો અને તેમાં ફેરફાર કરો.
Comment[he]=צור וערוך מצגות, ישיבות ודפי רשת בעזרת Impress.
Comment[hi]=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[hr]=Stvorite i uredite prezentacije za prikazivanje i web stranice koristeći Impress.
Comment[hu]=Bemutatók készítése és szerkesztése diavetítésekhez vagy a webre az Impress használatával.
Comment[it]=Crea e modifica presentazioni per diapositive, incontri e pagine Web usando Impress.
Comment[ja]=Impress を使用して、スライドショー、ミーティングおよび Web ページ用のプレゼンテーションを作成して編集します。
Comment[km]=បង្កើត និង កែ​សម្រួល​ការ​បង្ហាញ​សម្រាប់​បង្ហាញ​ស្លាយ កិច្ច​ប្រជុំ និង ទំព័រ​បណ្តាញ​ដោយ​ប្រើ Impress ។
Comment[ko]=Impress를 사용하여 슬라이드 쇼, 회의 및 웹 페이지에 대한 프레젠테이션을 만들고 편집합니다.
Comment[lt]=Pateikčių rengykle rengiamos pateiktys pranešimams, pateiktis galima įkelti į tinklalapį.
Comment[lv]=Veidot un labot prezentācijas slīdrādes, tikšanās un web lapas lietojot Impress.
Comment[mk]=Креирајте и уредувајте презентации за слајдови, состаноци и веб-страници со користење на Impress.
Comment[nb]=Opprett og rediger presentasjoner for lysbildeframvisning, møter og nettsider ved å bruke Impress.
Comment[ne]=इम्प्रेस प्रयोग गर्दै स्लाइड शोहरू, बैठक र वेब पृष्ठका लागि प्रस्तुतीहरू सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्।
Comment[nl]=Met Impress kunt u presentaties voor diavoorstellingen, vergaderingen en webpagina's maken en bewerken.
Comment[nn]=Med Impress kan du laga og redigera presentasjonar for framvisingar, møte og nettsider.
Comment[nr]=Enza nokuhlela amphrizentheyitjhini wamaslayidishowu, imihlangano namakahsi we-Webh ngokusebenzisa i-Impress.
Comment[nso]=Hlama le go rulaganya ditlhagišo tša dipontšho tša selaete, dikopano le matlakala a Wepe ka go diriša Impress.
Comment[pa]=ਪੇਸ਼ਕਾਰ ਨਾਲ ਸਲਾਈਡ-ਸ਼ੋ, ਮੀਟਿੰਗ ਅਤੇ ਵੈੱਬਸਫ਼ੇ ਨੂੰ ਬਣਾਇਆ ਅਤੇ ਸੋਧਿਆ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Tworzenie i modyfikowanie prezentacji, które można wykorzystać podczas pokazów, spotkań oraz na stronach WWW za pomocą programu Impress.
Comment[pt]=Crie e edite apresentações para reuniões e páginas Web utilizando o Impress.
Comment[pt_BR]=Crie e edite apresentações para slides, reuniões e páginas da Web por meio do Impress.
Comment[ru]=Создание и редактирование презентаций для слайдшоу, встреч и веб-страниц.
Comment[rw]=Kurema no guhindura amayerekana y'amagaragazabice, inama n'impapuro Rubuga ukoresheje Impress.
Comment[sk]=Vytvárajte a upravujte prezentácie pre porady s stretnutia s použitím Impress.
Comment[sl]=Z Impressom ustvarjajte in urejajte prosojnice za predstavitve in spletne strani.
Comment[sr]=Прави и уређује презентације за приказивања, састанке и Интернет коришћењем Презентације.
Comment[sr@Latn]=Pravi i uređuje prezentacije za prikazivanja, sastanke i Internet korišćenjem Prezentacije.
Comment[st]=Bopa le ho lokisa dinehelano tsa dipontsho tsa selaete, dikopano le maqephe a Wepe ka ho sebedisa Impress.
Comment[sv]=Skapa och redigera presentationer för bildskärmspresentationer, möten och webbsidor med hjälp av Impress.
Comment[sw]=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[th]=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[tr]=Impress kullanarak sunum, toplantı, belge ve Web sayfaları oluşturun, düzenleyin.
Comment[ts]=Endla ni ku lulamisa Minkombiso ya tislayidi, tipheji ta minhlangani ni ta Web hi ku tirhisa Impress.
Comment[vi]=Tạo và chỉnh sửa trình diễn cho chiếu ảnh, hội họp và trang Mạng dùng Impress.
Comment[xh]=Dala uze uhlele iinkcazelo-mboniso yemiboniso yezlayidi, iintlanganiso namakhasi Othungelwano ngokusebenzisa i-Impress.
Comment[zh_CN]=使用 Impress 创建并编辑幻灯片、会议和网页中使用的演示文稿。
Comment[zh_TW]=使用 Impress 可建立與編輯用於投影片、會議和網頁的簡報。
Comment[zu]=Yenza futhi ulungise imiboniso amaslaydi, amakhasi emihlangano naweWebhu ngokusebenzisa i-Impress.
