[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=libreoffice
Exec=libreoffice
Icon=libreoffice-startcenter.png
Type=Application
Categories=Office;
StartupNotify=false
Name=LibreOffice
Name[af]=LibreOffice
Name[ar]=أوبن أفيس.أورج
Name[be@latin]=LibreOffice
Name[ca]=LibreOffice
Name[cs]=LibreOffice
Name[de]=LibreOffice
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི།
Name[el]=LibreOffice
Name[en_CA]=LibreOffice
Name[en_GB]=LibreOffice
Name[es]=LibreOffice
Name[et]=LibreOffice
Name[eu]=LibreOffice
Name[fi]=LibreOffice
Name[fr]=LibreOffice
Name[gl]=LibreOffice
Name[he]=LibreOffice
Name[hu]=LibreOffice
Name[it]=LibreOffice
Name[ko]=LibreOffice
Name[lt]=LibreOffice
Name[nb]=LibreOffice
Name[ne]=ओपनअफिस डट अर्ग
Name[nl]=LibreOffice
Name[oc]=LibreOffice
Name[pl]=LibreOffice
Name[ps]=اوپنافس.ورګ
Name[pt]=LibreOffice
Name[pt_BR]=LibreOffice
Name[sl]=LibreOffice
Name[sr]=LibreOffice
Name[sr@Latn]=LibreOffice
Name[sv]=LibreOffice
Name[vi]=LibreOffice
Name[zh_CN]=LibreOffice
GenericName=Start Center
GenericName[tr]=Başlangıç merkezi
