[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=lowriter
Exec=lowriter %U
Icon=libreoffice-writer.png
Type=Application
Categories=Office;WordProcessor;
StartupNotify=true
MimeType=application/msword;application/rtf;application/vnd.ms-works;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-master;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.stardivision.writer-global;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.global;application/vnd.sun.xml.writer.template;application/vnd.wordperfect;application/wordperfect;application/x-extension-txt;application/x-t602;text/rtf;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;
InitialPreference=15
Name=LibreOffice Writer
Name[af]=LibreOffice Writer
Name[ar]=أوبن أفيس.أورج رايتر
Name[be@latin]=LibreOffice Writer
Name[bg]=LibreOffice текстообработка
Name[ca]=LibreOffice Writer
Name[cs]=LibreOffice Writer
Name[de]=LibreOffice Writer
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི་རྩོམ་འབྲི་པ།
Name[el]=LibreOffice Writer
Name[en_CA]=LibreOffice Writer
Name[en_GB]=LibreOffice Writer
Name[es]=LibreOffice Writer
Name[et]=LibreOffice Kirjutaja (Writer)
Name[eu]=LibreOffice Testu-prozesadorea
Name[fi]=LibreOffice-tekstinkäsittely
Name[fr]=Traitement de texte OOo Writer
Name[gl]=LibreOffice Writer
Name[he]=LibreOffice Writer
Name[hu]=LibreOffice Writer
Name[it]=LibreOffice - Writer
Name[ja]=LibreOfficeライタ
Name[ko]=LibreOffice Writer
Name[lt]=LibreOffice Writer
Name[nb]=LibreOffice Writer
Name[ne]=ओपनअफिस.अर्ग राइटर
Name[nl]=LibreOffice Writer
Name[oc]=LibreOffice Writer
Name[pl]=LibreOffice Writer
Name[ps]=اوپنافس.ورګ ليکوال
Name[pt]=LibreOffice Writer
Name[pt_BR]=LibreOffice Writer
Name[sl]=LibreOffice Writer
Name[sr]=LibreOffice Писац
Name[sr@Latn]=LibreOffice Pisac
Name[sv]=LibreOffice Writer
Name[vi]=Writer của LibreOffice
Name[zh_CN]=LibreOffice Writer
GenericName=Word Processor
GenericName[af]=Woordverwerker
GenericName[ar]=معالج كلمات
GenericName[az]=Kəlmə İşlədici
GenericName[be@latin]=Redaktar dakumentaŭ
GenericName[bg]=Текстообработка
GenericName[bs]=Word Processor
GenericName[ca]=Processador de textos
GenericName[cs]=Textový procesor
GenericName[da]=Tekstbehandler
GenericName[de]=Textverarbeitung
GenericName[dz]=ཡིག་སྦྱོར་པ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_CA]=Word Processor
GenericName[en_GB]=Word Processor
GenericName[en_ZA]=Word Processor
GenericName[es]=Procesador de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-prozesadorea
GenericName[fi]=Tekstinkäsittely
GenericName[fr]=Traitement de texte
GenericName[ga]=Próiseálaithe Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hr]=Program za obradu teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Ritvinnsla
GenericName[it]=Word processor
GenericName[ja]=ワープロ
GenericName[ka]=ტექსტის რედაქტორი
GenericName[ko]=워드 프로세서
GenericName[lt]=Teksto doroklė
GenericName[mk]=Процесор за текст
GenericName[ms]=Pemproses Perkataan
GenericName[nb]=Tekstbehandling
GenericName[ne]=शब्द प्रशोधक
GenericName[nl]=Tekstverwerker
GenericName[nr]=Isenzi Mitlolo
GenericName[nso]=Sehlami sa Lentšu
GenericName[oc]=Tractament de tèxt
GenericName[pa]=ਸ਼ਬਦਕਾਰ
GenericName[pl]=Procesor tekstu
GenericName[ps]=ويې بهيرګر
GenericName[pt]=Processador de Texto
GenericName[pt_BR]=Processador de texto
GenericName[sk]=Textový procesor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Procesues teksti
GenericName[sr]=Обрада текста
GenericName[sr@Latn]=Obrada teksta
GenericName[st]=Word Processor
GenericName[sv]=Ordbehandlare
GenericName[th]=พิมพ์งาน
GenericName[tr]=Kelime İşlemci
GenericName[ts]=Xitirhisi xa marito
GenericName[uk]=Текстовий процесор
GenericName[vi]=Bộ xử lý từ
GenericName[wa]=Aspougneu d' tecse
GenericName[xh]=Inkqubo Yokuqhuba Amagama
GenericName[zh_CN]=文字处理
GenericName[zh_TW]=文書處理器
GenericName[zu]=Umshini Ohlela Amagama
Comment=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[af]=Skep en redigeer teks en grafika in briewe, verslae, dokumente en webbladsye met Writer.
Comment[ar]=أنشيء وحرِّر النصوص والرسوم في الخطابات، والتقارير، والمستندات وصفحات الوِب باستخدام رايتر.
Comment[be]=Стварайце і рэдагуйце тэкст і графіку ў лістах, справаздачах, дакументах і старонках Сеціва з дапамогаю Writer-а.
Comment[be@latin]=Stvaraj i redahuj tekst i hrafiku ŭ listach, rapartach, dakumentach i staronkach sieciva z dapamohaj Writer.
Comment[bg]=С Writer можете да създавате и редактирате текст и графики в писма, отчети, документи и уебстраници.
Comment[bs]=Kreiranje i uređivanje teksta i grafike u pismima, izvještajima, dokumentima i Web stranicama koristeći Writer.
Comment[ca]=Creeu i editeu text i gràfics a cartes, informes, documents i pàgines web amb el Writer.
Comment[cs]=Vytvářejte a upravujte text a obrázky v dopisech, sestavách, dokumentech a webových stránkách pomocí Writeru.
Comment[cy]=Creu a golygu testun a graffigau mewn llythyron, adroddiadau, dogfennau a thudalennau Gwe gyda Writer.
Comment[da]=LibreOffice 2.0-tekstdokument
Comment[de]=Erstellen und Bearbeiten von Text und Grafiken in Briefen, Reports, Dokumenten und Web-Seiten - Writer machts möglich.
Comment[dz]=ཚིག་ཡིག་དང་ཚད་རིས་ཚུ་ཡི་གུ་ཚུ་ སྙན་ཞུ་ཚུ་ ཡིག་ཆ་ཚུ་དང་ཝེབ་ཤོག་ལེབ་ཚུ་རྩོམ་འབྲི་པ་ལག་ལེན་འཐབ་དེ་གིས་གསར་བསྐྲུན་དང་ཞུན་དག་འབད།
Comment[el]=Δημιουργία και επεξεργασία κειμένου και γραφικών σε επιστολές, αναφορές, έγγραφα και ιστοσελίδες με τη χρήση του Writer.
Comment[en_CA]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[en_GB]=Create and edit text and graphics in letters, reports, documents and Web pages using Writer.
Comment[en_ZA]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[es]=Creee y editee texto y gráficos de cartas, informes, documentos y páginas Web con Writer.
Comment[et]=Writer võimaldab luua ja redigeerida kirjade, aruannete, dokumentide ning veebilehtede teksti ja pilte.
Comment[eu]=Sortu eta editatu testua eta grafikoa gutunetan, txostenetan, dokumentuetan eta web orrietan Testu-prozesadorea (Writer) erabiliz.
Comment[fi]=Luo ja muokkaa tekstejä ja grafiikkaa kirjeisiin, raportteihin, dokumentteihin ja WWW-sivuille.
Comment[fr]=Créer et éditer des textes et des images dans des courriers, rapports, documents et pages Web en utilisant Writer.
Comment[gl]=Cree e edite texto e gráficos de cartas, informes, documentos e páxinas Web con Writer.
Comment[gu]=લખાણો અને ગ્રાફિક્સોને લેટરોમાં, અહેવાલોમાં, દસ્તાવેજોમાં અને વેબ પાનાંઓમાં લેખકની મદદથી બનાવો અને તેમાં ફેરફાર કરો.
Comment[he]=צור וערוך טקסט וגרפיקה במכתבים, דו"חות, מסמכים ודפי רשת בעזרת Writer.
Comment[hi]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[hr]=Stvorite i uredite takst i slike u pisma, izvješćima, dokumentima i web stranicama koristeći Writer.
Comment[hu]=Levelek, jelentések, dokumentumok és weboldalak szövegének és grafikájának létrehozása és szerkesztése a Writer használatával.
Comment[it]=Crea e modifica il testo e la grafica di lettere, rapporti, documenti e pagine Web usando Writer.
Comment[ja]=Writer を使用して、レター、レポート、ドキュメントおよび Web ページのテキストおよび図を作成および編集します。
Comment[km]=បង្កើត និង កែ​សម្រួល​អត្ថបទ និង ក្រាហ្វិក​ក្នុង​សំបុត្រ របាយការណ៍ ឯកសារ និង ទំព័រ​បណ្តាញ​ដោយ​ប្រើ Writer ។
Comment[ko]=Writer를 사용하여 편지, 보고서, 문서, 웹 페이지 등에서 텍스트와 그림을 만들고 편집할 수 있습니다.
Comment[lt]=Tekstų rengykle galima kurti laiškus, ataskaitas, kitus dokumentus ir tinklalapius, įterpti į juos paveikslus.
Comment[lv]=Veidot un labot tekstu un grafiku vēstulēs, atskaitēs, dokumentos un Web lapās lietojot Writer.
Comment[mk]=Креирајте и уредувајте текст и графика во писма, извештаи, документи и веб-страници со користење на Writer.
Comment[nb]=Opprett og rediger tekst og bilder i brev, rapporter, dokumenter og nettsider ved å bruke Writer.
Comment[ne]=राइटरको प्रयोग गर्दै वेबपेजहरू, कागजातहरू, प्रतिवेदनहरू, र चिठ्ठिमा ग्राफिक्स र पाठ सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्।
Comment[nl]=Met Writer kunt u tekst en afbeeldingen in brieven, rapporten, documenten en webpagina's maken en bewerken.
Comment[nn]=Med Writer kan du laga og redigera tekst og bilete i brev, rapportar, dokument og nettsider.
Comment[nr]=Enza nokuhlela itheksti neentjengiso eziseencwadini, emibikweni, emitlolweni nemakhasini weWebh ngokusebenzisa i-Writer.
Comment[nso]=Hlama le go rulaganya sengwalwa le diswantšho mangwalong, dipegong, ditokumenteng le matlakaleng a Wepe ka go diriša Writer.
Comment[pa]=ਲੇਖਕ ਨਾਲ ਪੱਤਰਾਂ, ਰਿਪੋਰਟਾਂ, ਦਸਤਾਵੇਜ਼ਾਂ ਅਤੇ ਵੈੱਬ ਸਫ਼ਿਆਂ ਵਿੱਚ ਪਾਠ ਅਤੇ ਚਿੱਤਰ ਬਣਾਏ ਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[pl]=Tworzenie i modyfikowanie listów, raportów, dokumentów i stron WWW za pomocą programu Writer.
Comment[pt]=Crie e edite texto e gráficos em cartas, relatórios, documentos e páginas Web utilizando o Writer.
Comment[pt_BR]=Crie e edite texto e figuras em cartas, relatórios, documentos e páginas da Web por meio do Writer.
Comment[ru]=Создание и редактирование текста и рисунков в письмах, отчетах, документах или веб-страницах.
Comment[rw]=Kurema no guhindura umwandiko n'ibishushanyo mu mabaruwa, raporo, inyandiko n'amapaji Rubuga ukoresheje Writer.
Comment[sk]=Vytvárajte a upravujte textové a grafické listy, správy, dokumenty a webové stránky s použitím Writer.
Comment[sl]=Z Writerjem ustvarjajte in urejajte besedilo in slike v pismih, poročilih, dokumentih in spletnih straneh.
Comment[sr]=Прави и уређује текст и графику у писмима, извештајима и веб страницама коришћењем Писца.
Comment[sr@Latn]=Pravi i uređuje tekst i grafiku u pismima, izveštajima i veb stranicama korišćenjem Pisca.
Comment[st]=Bopa le ho lokisa mongolo le ditshwantsho mangolong, ditlalehong, ditokomaneng le maqepheng a Wepe ka ho sebedisa Writer.
Comment[sv]=Skapa och redigera text och grafik i brev, rapporter, dokument och webbsidor med hjälp av Writer.
Comment[sw]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[th]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[tr]=Writer kullanarak mektuplar, raporlar, belgeler ve Web sayfaları oluşturun, düzenleyin.
Comment[ts]=Cinca ni ku lulamisa marito ni vudirowi eka mapapila, swiviko, tidokumente ni tipheji ta Web hi ku tirhisa Writer.
Comment[vi]=Tạo và chỉnh sửa văn bản và đồ họa trong thư, báo cáo, tài liệu và trang Mạng dùng Writer.
Comment[xh]=Dala uze uhlele isiqendu nezazobe zegrafu ezileteni, iingxelo, amaxwebhu namakhasi Othungelwano ngokusebenzisa i-Writer.
Comment[zh_CN]=使用 Writer 创建并编辑信函、报表、文档和网页中的文本和图形。
Comment[zh_TW]=使用 Writer 可以在信件、報告、文件和網頁中建立與編輯文字和圖形。
Comment[zu]=Yenza futhi ulungise umbhalo nemidwebo esezinhlamvini zamagama, emibikweni, emafayelini nasemakhasini eWebhu ngokusebenzisa i-Writer.
