[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=loweb
Exec=loweb %U
Icon=libreoffice-web.png
Type=Application
InitialPreference=15
Categories=Office;X-KDE-More;
StartupNotify=false
MimeType=application/vnd.oasis.opendocument.text-web;
Name=LibreOffice Writer/Web
Name[af]=LibreOffice Writer/Web
Name[ar]=أوبن أفيس.أورج رايتر/وِب
Name[be@latin]=LibreOffice Writer/Web
Name[ca]=LibreOffice Writer/Web
Name[cs]=LibreOffice Writer/WWW
Name[de]=LibreOffice Writer/Web
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི་རྩོམ་འབྲི་པ་/ཝེབ།
Name[el]=LibreOffice Writer/Web
Name[en_CA]=LibreOffice Writer/Web
Name[en_GB]=LibreOffice Writer/Web
Name[es]=LibreOffice Writer/Web
Name[et]=LibreOffice Kirjutaja/Veeb (Writer/Web)
Name[eu]=LibreOffice Testua/Web orria
Name[fi]=LibreOffice-tekstinkäsittely/WWW
Name[fr]=Éditeur Web OOo Writer/Web
Name[gl]=LibreOffice Writer/Web
Name[he]=LibreOffice Writer/Web
Name[hu]=LibreOffice Writer/Web
Name[it]=LibreOffice Writer/Web
Name[ko]=LibreOffice Writer/Web
Name[lt]=LibreOffice Writer/Web
Name[nb]=LibreOffice Writer/Web
Name[ne]=ओपनअफिस.अर्ग राइटर/वेब
Name[nl]=LibreOffice Writer/web
Name[oc]=LibreOffice Writer/Web
Name[pl]=LibreOffice Writer/WWW
Name[ps]=اوپنافس.ورګ ليکوال/ګورت
Name[pt]=LibreOffice Writer/Web
Name[pt_BR]=LibreOffice Writer/Web
Name[sl]=LibreOffice Writer/Splet
Name[sr]=LibreOffice Писац за веб
Name[sr@Latn]=LibreOffice Pisac za veb
Name[sv]=LibreOffice Writer/Web
Name[vi]=Writer/Web của LibreOffice
Name[zh_CN]=LibreOffice Writer/Web
GenericName=Web Page Creation
GenericName[af]=Skep webbladsye
GenericName[ar]=انشاء صفحات الوِب
GenericName[be@latin]=Stvareńnie staronki sievica
GenericName[ca]=Creació de pàgines web
GenericName[cs]=Tvorba WWW stránek
GenericName[de]=Erstellung von Webseiten
GenericName[dz]=ཝེབ་ཤོག་ལེབ་གསར་བསྐྲུན་འབད་ནི།
GenericName[el]=Δημιουργία ιστοσελίδας
GenericName[en_CA]=Web Page Creation
GenericName[en_GB]=Web Page Creation
GenericName[es]=Creación de páginas web
GenericName[et]=Veebilehtede loomine
GenericName[eu]=Web orrialdeen sorrera
GenericName[fi]=WWW-sivun luonti
GenericName[fr]=Création de page Web
GenericName[gl]=Creación de páxinas Web
GenericName[he]=יצירת דף רשת
GenericName[hu]=Weboldalak létrehozása
GenericName[it]=Creazione pagina web
GenericName[ko]=웹 페이지 만들기
GenericName[lt]=Žiniatinklio puslapių kūrimas
GenericName[nb]=Lag nettsider
GenericName[ne]=वेबपेज सिर्जना
GenericName[nl]=Web-pagina's maken
GenericName[oc]=Creacion de paginas web
GenericName[pl]=Tworzenie stron WWW
GenericName[ps]=د ګورت پاڼې جوړونه
GenericName[pt]=Criação de Páginas Web
GenericName[pt_BR]=Criação de Página da Web
GenericName[sl]=Ustvarjanje spletne strani
GenericName[sr]=Израда веб страница
GenericName[sr@Latn]=Izrada veb stranica
GenericName[sv]=Skapa webbsidor
GenericName[tr]=Web sayfası düzenleyici
GenericName[vi]=Tạo trang Mạng
GenericName[zh_CN]=网页创建
Comment=Create and edit Web pages by using Writer.
Comment[af]=Skep en redigeer webbladsye met Writer.
Comment[ar]=أنشيء وحرِّر صفحات الوِب باستخدام رايتر.
Comment[be@latin]=Stvaraj i redahuj staronki sieciva z dapamohaj Math.
Comment[ca]=Creeu i editeu pàgines web amb el Writer.
Comment[cs]=Vytvářejte a upravujte WWW stránky pomocí Writer.
Comment[de]=Webseiten erstellen und bearbeiten - Wrtiter/Web machts möglich.
Comment[dz]=ཝེབ་ཤོག་ལེབ་ཚུ་རྩོམ་འབྲི་པ་ལག་ལེན་འཐབ་དེ་གིས་གསར་་བསྐྲུན་དང་ཞུན་དག་འབད།
Comment[el]=Δημιουργία και επεξεργασία ιστοσελίδων με την χρήση του Writer.
Comment[en_CA]=Create and edit Web pages by using Writer.
Comment[en_GB]=Create and edit Web pages by using Writer.
Comment[es]=Creee y edite páginas web usando Writer.
Comment[et]=Writer võimaldab luua ja redigeerida veebilehti.
Comment[eu]=Sortu eta editatu web orrialdeak Testua (Writer) erabiliz
Comment[fi]=Luo ja muokkaa WWW-sivuja Writer-ohjelmalla.
Comment[fr]=Créer et modifier des pages Web en utilisant Writer.
Comment[gl]=Cree e edite páxinas Web usando Writer.
Comment[he]=צור וערוך דפי רשת בעזרת Writer.
Comment[hu]=Weboldalak létrehozása és szerkesztése a Writer használatával.
Comment[it]=Crea e modifica pagine Web usando Writer.
Comment[ko]=Writer를 사용하여 웹페이지를 만들고 편집합니다.
Comment[lt]=Kurkite ir redaguoti tinklalapius su Writer.
Comment[nb]=Opprett og rediger nettsider med bruk av Writer.
Comment[ne]=राइटरको प्रयोग गर्दै वेबपेजहरू सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्।
Comment[nl]=Met Writer kunt u web-pagina's maken en bewerken.
Comment[oc]=Crear e modificar de paginas web amb Writer.
Comment[pl]=Tworzenie i modyfikowanie stron WWW za pomocą programu Writer.
Comment[ps]=.د ليکوال په کارولو سره ګورت پاڼې جوړې او سمې کړﺉ
Comment[pt]=Crie e edite páginas Web utilizando o Writer.
Comment[pt_BR]=Crie e edite páginas da Web usando Writer.
Comment[sl]=Ustvarjajte in urejajte spletnih strani z Writerjem.
Comment[sr]=Прави и уређује веб странице коришћењем Писца.
Comment[sr@Latn]=Pravi i uređuje veb stranice korišćenjem Pisca.
Comment[sv]=Skapa och redigera webbsidor med hjälp av Writer.
Comment[tr]=Writer kullanarak Web sayfaları oluşturun, düzenleyin.
Comment[vi]=Tạo và chỉnh sửa trang Mạng bằng Writer.
Comment[zh_CN]=使用 Writer 创建并编辑网页。
