[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=compressAsRar;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[ast]=Comprimir
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Tiivistä
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=सपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[id]=Kompres
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[kk]=Сығу
X-KDE-Submenu[km]=បងហាប
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕਪਰਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Compress
X-KDE-Submenu[th]=บบขอมล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[wa]=Rastrinde
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action compressAsRar]
Name=As RAR Archive
Name[ar]=ﻙﺃﺮﺸﻴﻓ RAR
Name[ast]=Como archivu comprimíu RAR
Name[ca]=Com a arxiu RAR
Name[ca@valencia]=Com a arxiu RAR
Name[cs]=Jako archiv RAR
Name[da]=Som RAR-arkiv
Name[de]=Als RAR-Archiv
Name[el]=Ως αρχειοθήκη RAR
Name[en_GB]=As RAR Archive
Name[es]=Como archivo comprimido RAR
Name[et]=RAR-arhiivina
Name[eu]=RAR artxiboa gisa
Name[fi]=RAR-arkistoksi
Name[fr]=En tant qu'archive RAR
Name[ga]=Mar Chartlann RAR
Name[gl]=Como arquivo RAR
Name[hr]=Kao RAR-arhiva
Name[hu]=RAR archívumként
Name[id]=Sebagai Arsip RAR
Name[it]=Come archivio RAR
Name[ja]=RAR アーカイブに
Name[kk]=RAR архиві қылып
Name[km]=<200b>ជា<200b>បណណសារ RAR
Name[ko]=RAR 파일로
Name[lt]=RAR archyvas
Name[lv]=Kā RAR arhīvu
Name[nb]=Som RAR-arkiv
Name[nds]=As RAR-Archiev
Name[nl]=Als RAR-archief
Name[nn]=Som RAR-arkiv
Name[pa]=RAR ਅਕਾਇਵ ਵਾਗ
Name[pl]=Jako archiwum RAR
Name[pt]=Como Pacote RAR
Name[pt_BR]=Como arquivo RAR
Name[ro]=Ca arhivă RAR
Name[ru]=Как архив RAR
Name[sk]=Do RAR archívu
Name[sl]=Kot arhiv RAR
Name[sr]=као РАР архиву
Name[sr@ijekavian]=као РАР архиву
Name[sr@ijekavianlatin]=kao RAR arhivu
Name[sr@latin]=kao RAR arhivu
Name[sv]=Som RAR-arkiv
Name[th]=เปนแฟมจดเกบบบอดแบบ RAR
Name[tr]=RAR Arşivi Olarak
Name[uk]=Як архів RAR
Name[wa]=Come årtchive RAR
Name[x-test]=xxAs RAR Archivexx
Name[zh_CN]=为 RAR 归档
Name[zh_TW]=成 RAR 壓縮檔
Icon=utilities-file-archiver
Exec=ark --changetofirstpath --add --autofilename rar %F

