[Desktop Entry]
Name=rxvt-unicode
Exec=/usr/bin/urxvt
Categories=System;TerminalEmulator;
Comment=Small X11 terminal
comment[tr]=X11 terminali
Encoding=Legacy-Mixed
GenericName=Terminal Programı
Icon=utilities-terminal
StartupNotify=true
Terminal=0
Type=Application
