[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=OpenArena
Name[tr]=OpenArena
GenericName=OpenArena
GenericName[tr]=OpenArena
Icon=/usr/share/pixmaps/openarena.png
Exec=openarena
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
