[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=OpenArena
Name[tr]=OpenArena
GenericName=Multiprocessor
GenericName[tr]=Çok İşlemci Destekli
Icon=/usr/share/pixmaps/openarena.png
Exec=openarena-smp
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
