[Desktop Entry]
Name=ATI Catalyst Control Center (Super User)
Name[tr]=ATI Catalyst Denetim Merkezi (Yetkili Kullanıcı)
GenericName=ATI Graphics Adapter Settings (Super User Mode)
GenericName[tr]=ATI Grafik Bağdaştırıcı Ayarları (Yetkili Kullanıcı Kipi)
Icon=amdcccle
Exec=LC_ALL=C xdg-su -c amdcccle
Categories=System;
Type=Application
StartupNotify=false
