[Desktop Entry]
Name=ATI Catalyst Control Center
Name[de]=ATI Catalyst Control Center
Name[tr]=ATI Catalyst Denetim Merkezi
GenericName=ATI Graphics Adapter Settings
GenericName[de]=ATI Grafics Adapter Settings
GenericName[tr]=ATI Grafik Bağdaştırıcı Ayarları
Icon=amdcccle
Exec=LC_ALL=C amdcccle
Categories=System;
Type=Application
StartupNotify=false
