[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.openofficeorg.extension
Patterns=*.oxt;*.OXT
Icon=tgz
Comment=LibreOffice extension
Comment[tr]=LibreOffice eklentisi
