[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document
Icon=wordprocessing
Patterns=*.docx;*.DOCX;
Comment=Microsoft Word 2007 Document
Comment[tr]=Microsoft Word 2007 Belgesi
