[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation
Icon=presentation
Patterns=*.pptx;*.PPTX;
Comment=Microsoft PowerPoint 2007 Document
Comment[tr]=Microsoft PowerPoint 2007 Belgesi
