[Desktop Entry]
Exec=/usr/bin/start-yali4
Type=Application
NoDisplay=true
X-Pardus-XCursorTheme=Oxygen_White

Name=YALI
GenericName=Yet Another Linux Installer
