[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Freecol
Name[tr]=Freecol
GenericName=Strategy Game
GenericName[tr]=Strateji Oyunu
Icon=freecol
Exec=freecol
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
