[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=GNU Image Manipulation Program
Name[bg]=Редактор на изображения (GIMP)
Name[ca]=Programa de retoc d'imatges de GNU
Name[cs]=GNU Image Manipulation Program
Name[da]=GNU Image Manipulation Program
Name[de]=GNU Image Manipulation Program
Name[en_CA]=GNU Image Manipulation Program
Name[en_GB]=GNU Image Manipulation Program
Name[es]=Programa de manipulación de imágenes de GNU
Name[et]=GIMP - GNU pilditöötlusprogramm
Name[eu]=GNUren Irudiak Manipulatzeko Programa
Name[fi]=Gimp-kuvankäsittelyohjelma
Name[fr]=GNU Image Manipulation Programme
Name[gl]=Programa de Manipulación de Imaxes GNU
Name[gu]=GNU ચિત્ર જાળવણી કાર્યક્રમ
Name[it]=GNU Image Manipulation Program
Name[ja]=GNU Image Manipulation Program
Name[lt]=GNU paveikslėlių manipuliavimo programa
Name[mk]=ГНУ програма за манипулација со слики
Name[ne]=जि एन यु चित्र मिलाउने कार्यक्रम
Name[nl]=GNU Image Manipulation Program
Name[pl]=GNU Image Manipulation Program
Name[ru]=GNU Image Manipulation Program
Name[tr]=Gimp
Name[tt]=Sürät Eşkärtüçe GNU-Yasılım
Name[vi]=Chương trình Thao tác Ảnh GNU
Name[zh_CN]=GNU 图像处理程序
GenericName=Image Editor
GenericName[bg]=Редактор на изображения
GenericName[ca]=Editor de imatge
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fi]=Kuvaeditori
GenericName[fr]=Éditeur d'image
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hu]=Képszerkesztő
GenericName[it]=Editor immagine
GenericName[ja]=画像エディタ
GenericName[lt]=Paveikslėlių redaktorius
GenericName[mk]=Уредник за слики
GenericName[nb]=Bildebehandler
GenericName[ne]=चित्र सम्पादक
GenericName[nl]=Afbeelding-editor
GenericName[pa]=ਚਿੱਤਰ ਸੰਪਾਦਕ
GenericName[pl]=Edytor obrazu
GenericName[pt_BR]=Editor de Imagens
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sr]=Обрада слика
GenericName[sr@Latn]=Obrada slika
GenericName[sv]=Bildeditor
GenericName[tr]=Resim Düzenleyici
GenericName[tt]=Sürät Tözätkeç
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=图像编辑器
GenericName[zh_TW]=色盤編輯程序
Comment=Create images and edit photographs
Comment[bg]=Създаване на изображения и редакция на снимки
Comment[ca]=Creeu imatges i editeu fotografies
Comment[cs]=Vytvářet obrázky a upravovat fotografie
Comment[da]=Opret billeder og redigér fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[es]=Cree imágenes y edite fotografías
Comment[et]=Loo pilte ja redigeeri fotosid
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fi]=Luo kuvia ja muokkaa valokuvia.
Comment[fr]=Crée des images et modifier des photographies
Comment[gl]=Cree imaxes e edite fotografías
Comment[gu]=ચિત્રો બનાવો અને ફોટાઓમાં ફેરફાર કરો
Comment[it]=Crea immagini o modifica fotografie
Comment[ja]=画像の作成と写真の編集
Comment[lt]=Kurkite paveiklėlius ir redaguokite fotografijas
Comment[mk]=Направи слики и уреди фотографии
Comment[ne]=चित्रहरू सृजना गर्नुहोस् र फोटोग्राफहरू सम्पादन गर्नुहोस्
Comment[nl]=Afbeeldingen of foto's aanmaken en bewerken
Comment[pa]=ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਤਸਵੀਰਾਂ ਸੋਧੋ
Comment[pl]=Program do tworzenia oraz obróbki obrazów i fotografii
Comment[ru]=Создание изображений и редактирование фотографий
Comment[tr]=Resim ya da fotoğrafları oluşturun ve düzenleyin
Comment[vi]=Tạo và biên soạn ảnh hay ảnh chụp
Comment[zh_CN]=创建图像或编辑照片
Exec=gimp-remote %U
TryExec=gimp
Icon=gimp
Terminal=false
Categories=Application;Graphics;2DGraphics;RasterGraphics;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GIMP
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-compressed-xcf;image/x-fits;image/x-gray;image/x-pcx;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;image/x-xwindowdump;
