SUBSYSTEM!="usb", ACTION!="add", GOTO="logitech_rules_end"

ATTR{idProduct}=="c00e", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c00f", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c012", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c01b", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c01d", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c024", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c025", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c031", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c501", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c502", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c504", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c505", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c506", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c508", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c50b", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c50e", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"
ATTR{idProduct}=="c702", ATTR{idVendor}=="046d", GROUP="pnp", MODE="0660"

LABEL="logitech_rules_end"
