[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Supertuxkart
Name[tr]=Supertuxkart
GenericName=Gokart with Tux
GenericName[tr]=Tux Gokart
Icon=supertuxkart
Exec=supertuxkart
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
