[Desktop Entry]
Encoding=UTF-8
Name=Kid3
Exec=kid3 -caption "%c" %i %m  
Icon=kid3.png
Type=Application
DocPath=kid3/index.html
MimeType=audio/x-mp3;audio/x-mpegurl;
GenericName=ID3 Tagger
GenericName[tr]=ID3 Düzenleyici
Comment=Batch ID3 editor
Comment[tr]=mp3 dosyalarının bilgilerini topluca düzenler
Terminal=false
Categories=Application;AudioVideo;KDE;