[Desktop Entry]
Name=Inkscape

GenericName[bg]=илюстратор за векторна графика
GenericName[br]=Embanner kevregadoù sturiadel
GenericName[ca]=Editor de gràfics vectorials
GenericName[de]=SVG-Vektorgrafik-Editor
GenericName[en_GB]=Vector Graphics Editor
GenericName[eo]=Ilustrilo por Vektoraj Bildoj
GenericName[es]=Editor de gráficos vectoriales
GenericName[eu]=bektore-grafikoen editorea
GenericName[fi]=vektorigrafiikkatyökalu
GenericName[fr]=Éditeur d'images vectorielles SVG
GenericName[he]=אינקסקייפ עורך גרפיקה וקטורית
GenericName[hu]=vektorgrafikai szerkesztő
GenericName[it]=Grafica Vettoriale SVG
GenericName[km]=កម្មវិធី​កែសម្រួល​ក្រាហ្វិក​វ៉ិចទ័រ 
GenericName[nb]=SVG vektortegneprogram
GenericName[nl]=SVG vector illustrator
GenericName[pl]=edytor grafiki wektorowej
GenericName[pt]=Editor de Imagem Vectorial
GenericName[pt_BR]=Editor de Imagens Vetoriais
GenericName[ru]=Редактор векторной графики
GenericName[sk]=editor vektorovej grafiky
GenericName[sl]=Urejevalnik vektorskih slik
GenericName[sr]=програм за векторско цртање
GenericName[sr@latin]=program za vektorsko crtanje
GenericName[sv]=Vektorillustratören
GenericName[tr]=Vektörel Grafik Düzenleyici
GenericName[uk]=Редактор векторної графіки
GenericName[vi]=Trình Xử lý Ảnh Véc-tơ
GenericName[zh_CN]=矢量绘图软件
Comment=Create and edit Scalable Vector Graphics images
Comment[bg]=Създаване и редакция на изображения Scalable Vector Graphics
Comment[bn]=স্কেলেবল ভেক্টর গ্রাফিক্স ছবি তৈরী ও সম্পাদনা করুন
Comment[br]=Krouiñ hag embann skeudennoù mod SVG (Scalable Vector Graphics)
Comment[ca]=Creeu i editeu imatges de gràfics de vectors escalables
Comment[ca@valencia]=Creeu i editeu imatges de gràfics de vectors escalables
Comment[cs]=Vytvářejte a upravujte vektorovou grafiku (SVG)
Comment[da]=Opret og redigér SVG-billeder
Comment[de]=Skalierbare Vektorgrafiken (SVG) erzeugen und bearbeiten
Comment[dz]=ཆ་ཚད་འཇལ་བཏུབ་པའི་མཉམ་ཐིག་ཚད་རིས་ཀྱི་གཟུགས་བརྙན་ཚུ་གསར་བསྐྲུན་དང་ཞུན་དག་འབད།
Comment[el]=Δημιουργήστε και τροποποιήστε διανυσματικές εικόνες τύπου Scalable Vector Graphics
Comment[en_AU]=Create and edit Scalable Vector Graphics images
Comment[en_GB]=Create and edit Scalable Vector Graphics images
Comment[en_US@piglatin]=Eatecray andway editway Alablescay Ectorvay Aphicsgray imagesway
Comment[eo]=Kreu kaj redaktu bildoj en formato SVG (Scalable Vector Graphics)
Comment[es]=Cree y edite Gráficos Vectoriales Escalables (SVG)
Comment[eu]=Sortu eta editatu Grafiko Bektorial Eskalakor (SVG) irudiak
Comment[fi]=Luo ja muokkaa Scalable Vector Graphics -piirroksia
Comment[fr]=Créer et éditer des images Scalable Vector Graphics
Comment[gl]=Cree e edite imaxes Scalable Vector Graphics
Comment[hu]=Scalable Vector Graphics (méretezhető vektorgrafika, SVG)-képek létrehozása és szerkesztése
Comment[id]=Membuat dan mengedit gambar Scalable Vector Graphics
Comment[it]=Crea e modifica immagini Scalable Vector Graphics
Comment[ja]=スケーラブル ベクター グラフィックス イメージの作成と編集を行います
Comment[km]=បង្កើត និង​កែសម្រួល​​​រូបភាព​ក្រាហ្វិក​វ៉ិចទ័រ​ដែល​អាច​ធ្វើ​មាត្រដ្ឋាន​បាន​
Comment[ko]=SVG(크기 조정 가능한 벡터 그래픽) 이미지  생성
Comment[lt]=Kurti ir redaguoti SVG iliustraciją
Comment[nb]=Lag og rediger Skalerbar VektorGrafikk-bilder
Comment[ne]=स्केलेबुल भेक्टर ग्राफिक्स छविहरू सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्
Comment[nl]='Scalable Vector Graphics (SVG)'-tekeningen maken en bewerken
Comment[nn]=Lag og rediger skalerbare vektorbilete (SVG)
Comment[pa]=ਸਕੇਲੇਬਲ ਵੈਕਟਰ ਗਰਾਫਿਕਸ ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਸੋਧੋ
Comment[pl]=Tworzenie i edycja grafiki wektorowej SVG
Comment[pt]=Crie e edite imagens Gráficas Vectoriais Escalaveis
Comment[pt_BR]=Cria e edita desenhos vetoriais escaláveis (SVG)
Comment[ro]=Creează şi editează în format Scalable Vector Graphics
Comment[ru]=Создание и редактирование изображений в формате SVG
Comment[sk]=Tvorba a úprava obrázkov Scalable Vector Graphics
Comment[sl]=Ustvarjajte in urejajte vektorske slike SVG
Comment[sr]=Прављење и уређивање SVG векторских слика
Comment[sr@latin]=Pravljenje i uređivanje SVG vektorskih slika
Comment[sv]=Skapa och redigera SVG-bilder
Comment[th]=สร้างและแก้ไขภาพ Scalable Vector Graphics
Comment[tr]=Ölçeklenebilir Vektör İmgeleri oluşturur ve düzenler
Comment[uk]=Створення та редагування зображень у форматі SVG
Comment[vi]=Tạo và sửa ảnh véc-tơ co giãn được (SVG)
Comment[zh_CN]=创建并编辑可缩放矢量图形图像
Comment[zh_TW]=建立並編輯「可伸縮向量繪圖(SVG)」圖形

Encoding=UTF-8
Version=1.0
Type=Application
Categories=Application;Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml
FilePattern=inkscape
Exec=inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true

Icon=inkscape.png
