[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Eric
Comment=Python development environment
Comment[tr]=Python geliştirme ortamı
Icon=eric
Exec=eric4 --nosplash
Terminal=False
Categories=Development;IDE;Qt;
MimeType=application/x-eric-project;
