[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=unopkg
Exec=unopkg gui %U
Icon=ooo-gulls
Type=Application
StartupNotify=true
Categories=Office;X-KDE-More;
MimeType=application/vnd.openofficeorg.extension;
Name=OpenOffice.org Extension Manager
Name[tr]=OpenOffice.org Eklenti Yöneticisi
GenericName=Extension Manager
GenericName[tr]=Eklenti Yöneticisi
Comment=Add and organize the OpenOffice.org extensions.
Comment[tr]=OpenOffice.org eklentileri ekleyin ve yönetin.
