[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
TryExec=ooffice
Exec=ooffice %U
Icon=ooo-gulls
Type=Application
Categories=Office;
StartupNotify=false
Name=OpenOffice.org
Name[af]=OpenOffice.org
Name[ar]=أوبن أفيس.أورج
Name[be@latin]=OpenOffice.org
Name[ca]=OpenOffice.org
Name[cs]=OpenOffice.org
Name[de]=OpenOffice.org
Name[dz]=ཨོ་པཱན་ཨོ་ཕིསི.ཨོ་ཨར་ཇི།
Name[el]=OpenOffice.org
Name[en_CA]=OpenOffice.org
Name[en_GB]=OpenOffice.org
Name[es]=OpenOffice.org
Name[et]=OpenOffice.org
Name[eu]=OpenOffice.org
Name[fi]=OpenOffice.org
Name[fr]=OpenOffice.org
Name[gl]=OpenOffice.org
Name[he]=OpenOffice.org
Name[hu]=OpenOffice.org
Name[it]=OpenOffice.org
Name[ko]=OpenOffice.org
Name[lt]=OpenOffice.org
Name[nb]=OpenOffice.org
Name[ne]=ओपनअफिस डट अर्ग
Name[nl]=OpenOffice.org
Name[oc]=OpenOffice.org
Name[pl]=OpenOffice.org
Name[ps]=اوپنافس.ورګ
Name[pt]=OpenOffice.org
Name[pt_BR]=OpenOffice.org
Name[sl]=OpenOffice.org
Name[sr]=OpenOffice.org
Name[sr@Latn]=OpenOffice.org
Name[sv]=OpenOffice.org
Name[vi]=OpenOffice.org
Name[zh_CN]=OpenOffice.org
GenericName=Start Center
GenericName[tr]=Başlangıç merkezi
