[Desktop Entry]
Type=Service
Actions=openKmailAttachment;
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
ExcludeServiceTypes=application/x-iso,kdedevice/*,inode/directory

[Desktop Action openKmailAttachment]
Exec=kmail --composer --attach %F `echo attachment=\'file://%F\' | sed 's/ \//,file:\/\/\//g'`
Name=Send File As Attachment
Name[tr]=Eklenti Olarak Gönder
Icon=kmail
