[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice Spreadsheet File...
Name[tr]=OpenOffice Hesap Tablosu...
Comment=Enter spreadsheet filename:
Comment[tr]=Hesap tablo dosyasının adını girin:
Type=Link
URL=.source/oocalc.ods
Icon=ooo-calc
