[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice Presentation File...
Name[tr]=OpenOffice Sunum Dosyası...
Comment=Enter presentation filename:
Comment[tr]=Sunum dosyasının adını girin:
Type=Link
URL=.source/ooimpress.odp
Icon=ooo-impress
