[Desktop Entry]
Type=Application
Version=1.50
Encoding=UTF-8
Name=Eternal Lands
Name[tr]=Eternal Lands
GenericName=MMORPG game
GenericName[tr]=MMORPG oyunu
Icon=eternal-lands
Exec=eternal-lands
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
