[Desktop Entry]
Type=Application
Version=0.2.0
Encoding=UTF-8
Name=Avogadro
Name[tr]=Avogadro
GenericName=Molecular editor
GenericName[tr]=Molekül Düzenleyicisi
Icon=avogadro
Exec=avogadro
Terminal=false
X-KDE-StartupNotify=false
Categories=Qt;KDE;Education;Science;
