[Desktop Entry]
Encoding=UTF-8
TryExec=mogrify
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,image/*
Actions=jpegRot90;jpegRot270;
X-KDE-Submenu=Rotate
X-KDE-Submenu[tr]=Döndür
X-KDE-Require=Write

[Desktop Action jpegRot90]
Name=Rotate Clockwise
Name[ar]=أدر باتجاه عقارب الساعة
Name[be]=Павярнуць па гадзіннай стрэлцы
Name[bg]=Завъртане по посока на часовниковата стрелка
Name[ca]=Gira en sentit horari
Name[ca@valencia]=Gira en sentit horari
Name[cs]=Rotovat po směru hodin
Name[da]=Rotér med uret
Name[de]=Rechts drehen
Name[el]=Περιστροφή με τη Φορά του Ρολογιού
Name[en_GB]=Rotate Clockwise
Name[es]=Girar en el sentido de las agujas del reloj
Name[et]=Pööra päripäeva
Name[eu]=Biratu ordulariaren norantzan
Name[fi]=Käännä myötäpäivään
Name[fr]=Tourner dans le sens antihoraire
Name[ga]=Rothlaigh go Deisealach
Name[gl]=Xirar no sentido horario
Name[hne]=घड़ी के दिसा मं घुमाव
Name[hr]=Rotiraj u smjeru kazaljke na satu
Name[hu]=Forgatás az óramutató járásával megegyezően
Name[is]=Snúa réttsælis
Name[it]=Ruota in senso orario
Name[ja]=時計回りに回転
Name[km]=បង្វិល​ស្រប​ទ្រិចនាឡិកា​
Name[ko]=시계 방향으로 회전하기
Name[ku]=Aliyê Gera Saetê Bizivirîne
Name[lt]=Sukti pagal laikrodžio rodyklę
Name[lv]=Pagriezt pulksteņrādītāja virzienā
Name[nb]=Roter med urviseren
Name[nds]=Na rechts dreihen
Name[nl]=Rechtsom draaien
Name[nn]=Roter med klokka
Name[pa]=ਸੱਜੇ ਦਾਅ ਘੁੰਮਾਓ
Name[pl]=Obróć w prawo
Name[pt]=Rodar no Sentido Horário
Name[pt_BR]=Girar no sentido horário
Name[ro]=Rotește în sensul acelor de ceasornic
Name[ru]=Повернуть по часовой стрелке
Name[sk]=Otočiť v smere hodin
Name[sr]=Ротирај у смеру казаљке
Name[sr@ijekavian]=Ротирај у смеру казаљке
Name[sr@ijekavianlatin]=Rotiraj u smeru kazaljke
Name[sr@latin]=Rotiraj u smeru kazaljke
Name[sv]=Rotera medurs
Name[tg]=Баргардондани соатӣ
Name[th]=หมุนตามเข็มนาฬิกา
Name[tr]=Saat Yönünde Döndür
Name[uk]=Обернути за годинниковою стрілкою
Name[x-test]=xxRotate Clockwisexx
Name[zh_CN]=顺时针旋转
Name[zh_TW]=順時針旋轉
Icon=object-rotate-right
Exec=mogrify -rotate 90 %F

[Desktop Action jpegRot270]
Name=Rotate Counter-Clockwise
Name[ar]=أدر بعكس اتجاه عقارب الساعة
Name[be]=Павярнуць супраць гадзіннай стрэлкі
Name[bg]=Завъртане обратно на посоката на часовниковата стрелка
Name[ca]=Gira en sentit antihorari
Name[ca@valencia]=Gira en sentit antihorari
Name[cs]=Rotovat proti směru hodin
Name[da]=Rotér mod uret
Name[de]=Links drehen
Name[el]=Περιστροφή αριστερόστροφα
Name[en_GB]=Rotate Anti-Clockwise
Name[es]=Girar en sentido contrario a las agujas del reloj
Name[et]=Pööra vastupäeva
Name[eu]=Biratu ordulariaren aurkako norantzan
Name[fi]=Käännä vastapäivään
Name[fr]=Tourner dans le sens horaire
Name[ga]=Rothlaigh go Tuathalach
Name[gl]=Xirar no sentido antihorario
Name[hne]=घड़ी के उलटा दिसा मं घुमाव
Name[hr]=Rotiraj obrnutno od smjera kazaljke na satu
Name[hu]=Forgatás az óramutató járásával szemben
Name[is]=Snúa rangsælis
Name[it]=Ruota in senso antiorario
Name[ja]=反時計回りに回転
Name[km]=បង្វិល​ច្រាស​ទ្រិចនាឡិកា​
Name[ko]=반시계 방향으로 회전하기
Name[ku]=Aliyê Dijê Gera Saetê Bizivirîne
Name[lt]=Sukti prieš laikrodžio rodyklę
Name[lv]=Pagriezt pretēji pulksteņrādītājam
Name[nb]=Roter mot urviseren
Name[nds]=Na links dreihen
Name[nl]=Linksom draaien
Name[nn]=Roter mot klokka
Name[pa]=ਖੱਬੇ ਦਾਅ ਘੁੰਮਾਓ
Name[pl]=Obróć w lewo
Name[pt]=Rodar no Sentido Anti-Horário
Name[pt_BR]=Girar no sentido anti-horário
Name[ro]=Rotește în sensul invers al acelor de ceasornic
Name[ru]=Повернуть против часовой стрелки
Name[sk]=Otočiť proti smeru hodin
Name[sr]=Ротирај супротно смеру казаљке
Name[sr@ijekavian]=Ротирај супротно смеру казаљке
Name[sr@ijekavianlatin]=Rotiraj suprotno smeru kazaljke
Name[sr@latin]=Rotiraj suprotno smeru kazaljke
Name[sv]=Rotera moturs
Name[tg]=Баргардондани ғайри соатӣ
Name[th]=หมุนทวนเข็มนาฬิกา
Name[tr]=Saat Yönünün Tersine Döndür
Name[uk]=Обернути проти годинникової стрілки
Name[x-test]=xxRotate Counter-Clockwisexx
Name[zh_CN]=逆时针旋转
Name[zh_TW]=逆時針旋轉
Icon=object-rotate-left
Exec=mogrify -rotate 270 %F
