[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=OpenTTD
Name[tr]=OpenTTD
GenericName=Transport Simulation
GenericName[tr]=Taşımacılık Simülasyonu
Comment=Open source clone of Transport Tycoon Deluxe
Comment[tr]=Transport Tycoon Deluxe'un açık kaynaklı taklidi
Icon=openttd
Exec=openttd
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
